.root {
  padding: 0 1rem;
  height: 100%;
  background-color: var(--grey-500);
  .brandLogo {
    width: 8rem;
    display: block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      bottom: -1rem;
      left: -1rem;
      right: -4rem;
      background-color: #494949;
      height: 1px;
    }
    img {
      max-width: 100%;
    }
  }
  .menuItems {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    flex-direction: column;
    height: 87%;
    .item {
      color: #fff;
      display: flex;
      align-items: center;
      font-size: 1rem;
      padding: 0.5rem 0;
      cursor: pointer;
      .label {
        display: inline-flex;
        margin-left: 5px;
      }
    }
  }
}
