.root {
  font-size: 0.9rem;
  cursor: pointer;
  height: calc(100vh - 11rem);
  overflow-y: auto;
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.treeNode {
  padding: 0.15rem 0;
  display: flex;
  align-items: center;
  border-left: 2px solid transparent;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 0.6rem;
    &.systemFile {
      color: var(--primary);
      font-weight: 600;
    }

    > span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }
  }
  &:hover {
    background: var(--dark-hover);
    border-color: var(--primary);
    .actions {
      opacity: 1;
      pointer-events: all;
    }
  }
  &.isOpen {
    .iconWrapper {
      svg {
        transform: rotate(90deg);
      }
    }
  }
  .actions {
    span {
      display: inline-flex;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .iconWrapper {
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    svg {
      margin-top: 2px;
      transform: rotate(0deg);
      transition: transform 0.15s ease-in;
    }
  }
}

.actionRoot {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  > span {
    display: flex;
    align-items: center;
  }
  &.visible {
    opacity: 1;
    pointer-events: all;
    display: flex;
    justify-content: flex-end;
  }

  > span > svg {
    cursor: pointer;
    margin-left: 6px;
    transform: scale(1);
    transition: 0.2s;
  }
}

.treeInputContainer {
  display: flex;
  input {
    background: #333232;
    border: 1px solid var(--primary);
    outline: none;
    color: #fff;
    width: 100%;
  }
}
