.onboarding-new-project-form {
  .top-header {
    display: grid;
    grid-template-columns: auto 9rem;
    gap: 0rem;
    > div:nth-child(2) {
      display: flex;
      justify-content: flex-end;
    }
  }
  .template-selector {
    .ant-radio-group {
      display: grid;
      grid-auto-flow: column;
    }
  }
}
