.root {
  font-size: 0.8rem;
  // border-top: 1px solid #6a6a6a;
  margin-top: 2rem;
  .cellBuilderRef {
    visibility: hidden;
    width: 1px;
    height: 1px;
    float: left;
    border: 0;
  }
  .label {
    opacity: 0.8;
    border-bottom: 1px solid #9c9b9b;
    padding-bottom: 0.3rem;
    font-weight: 600;
    &.hide {
      display: none;
    }
  }
  .sendMessage {
    width: 100%;
    margin-bottom: 1rem;
  }
}
