.root {
  // border-bottom: 1px solid #6a6a6a;
  padding-bottom: 0.6rem;
  .desc {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .action {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    span {
      word-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
