.container {
  // height: calc(100vh - 15rem);
  height: 100%;
  position: relative;
  .editorInfo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    font-size: 0.8rem;
    padding: 0.2rem 1rem;
  }

  .editor {
    height: 100%;
    > div {
      // padding-top: 1rem;
    }
  }
  .saveFile {
    position: absolute;
    top: 5px;
    right: 1rem;
  }
}
