$appPrimary: #b0ed01;
.root {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    height: unset;
    display: flex;
    flex-direction: column-reverse;
  }
  * {
    font-family: 'Josefin Sans', sans-serif;
  }
  > div {
    height: 100%;
  }
  .columnLeft {
    background-image: url('/images/layout/user-onboarding.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
      justify-content: flex-start;
    }
    .content {
      background: rgba(140, 139, 139, 0.4);
      backdrop-filter: blur(2.5px);
      display: inline-block;
      padding: 3rem;
      @media screen and (max-width: 767px) {
        padding: 1rem;
      }
      .heading {
        font-size: 3.4rem;
        margin-bottom: 2rem;
        @media screen and (max-width: 767px) {
          font-size: 2rem;
        }
        span {
          color: $appPrimary;
        }
        &,
        * {
          font-family: 'monomaniac';
          line-height: 1;
          text-transform: uppercase;
        }
      }
    }
  }
  .columnRight {
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
      padding: 2rem;
      .heading {
        margin-top: 3rem;
      }
      .form {
        min-width: 300px;
        margin-top: 1.6rem;
        input {
          height: 2.5rem;
          &:hover,
          &:focus {
            border-color: $appPrimary !important;
          }
        }
        .btnAction {
          // width: 100%;
          background-color: #fff !important;
          color: #000;
          font-weight: 500;
          // text-transform: uppercase;
          height: 2.5rem;
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: ($appPrimary) !important;
          }
          .icon {
            margin-right: 0.5rem;
            font-size: 1.3rem;
          }
          .label {
            margin-top: 7px;
          }
        }
      }
      .formItem {
        margin-bottom: 1rem;
      }
      div[class*='ant-form-item-label'] {
        padding-bottom: 0;
      }
    }
  }
}
