:root {
  --primary: #0098ea;
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --text-color: #f7f7f7;
  --black-500: #171717;
  --grey: #4f4e4e;
  --grey-500: #1a1a1a;
  --grey-900: #212121;
  --grey-1000: #131212;
  --bg-color-dark: #000;
  --color-danger: #f50;
  --border-radius: 10px;
  --dark-hover: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: var(--font-body);
  letter-spacing: 0.02em;
  color: var(--text-color);
  background: var(--bg-color-dark);
  line-height: 1.3;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000000;
  }

  *::-webkit-scrollbar {
    width: 6px;
    background-color: #696969;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #696969;
  }
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary);
  }
}

.ant-form-item-optional {
  display: none !important;
}

.w-100 {
  width: 100%;
}

.wrap-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.xterm-viewport {
  background: transparent !important;
}

.xterm-rows {
  color: #2196f3 !important;
}
