.root {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  min-height: 40vh;
  > div,
  > a {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .item {
    background-color: var(--grey-500);
    border-radius: var(--border-radius);
    position: relative;
    padding: 2rem 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    color: #fff;
    height: 10rem;

    &:hover {
      transform: scale(1.05);
    }

    .platformIcon {
      display: block;
      text-align: center;
      margin: 0 auto;
      opacity: 0.6;
    }
    .name {
      display: block;
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 1rem;
    }
  }
}
