.root {
  padding: 1rem;
  width: 100%;
  .heading {
    opacity: 0.6;
    margin-bottom: 1.5rem;
  }
  .cellBuilderRef {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
  .contractAddress {
    max-width: 195px;
    margin-bottom: 1rem;
  }
  .contractInteraction {
    height: calc(100vh - 200px);
    overflow-y: auto;
    border-top: 1px solid rgb(61, 61, 61);
    margin-top: 1rem;
  }
  .infoLine {
    font-size: 0.8rem;
    border-top: 1px solid #6a6a6a;
    padding-top: 0.5rem;
  }
}
