.root {
  padding: 0 1rem;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  .heading {
    color: #ccc;
    text-align: center;
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.5rem 0;
  }
  .cellBuilderRef {
    visibility: hidden;
    width: 1px;
    height: 1px;
    float: left;
  }
  .actionWrapper {
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    gap: 0.5rem;
  }
  .formItem {
    margin-bottom: 0.4rem;
    &,
    & > div {
      display: block;
    }
  }
  .connectedWallet {
    font-size: 0.8rem;
    color: #ccc;
    margin-top: 1rem;
    span {
      font-size: 0.9rem;
      color: #fff;
    }
  }
  .contractAddress {
    margin: 1rem 0;
    font-size: 0.8rem;

    a {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }
  .contractInteraction {
    overflow-y: auto;
    border-top: 1px solid rgb(61, 61, 61);
    margin-bottom: 4rem;
  }
  .infoLine {
    font-size: 0.8rem;
    border-top: 1px solid #6a6a6a;
    padding-top: 0.5rem;
  }
  .info {
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  .cellActions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
  .addMoreField {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  .fieldGroup {
    width: 100%;
    margin: 1rem 0 0 0;

    [class*='ant-form-item-control-input-content'] {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }
  }
  .cellBuilder {
    [class*='ant-form-item-explain-error'] {
      position: relative;
      top: -10px;
      pointer-events: none;
    }
  }
}
