.root {
  margin: 1rem 0;
  .formItemABI {
    margin-bottom: 3px;
  }
  .abiResponse {
    word-break: break-word;
  }
  .btnAction {
    background-color: #478d23 !important;
    color: #fff !important;
    border: 0 !important;
    font-weight: 500;
  }
}
