.root {
  background-color: #151515;
  .tab {
    display: inline-flex;
    color: rgb(130, 129, 129);
    margin-left: 0.5rem;
    border-bottom: 1px solid rgb(76, 76, 76);
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  .view {
    // overflow-y: auto;
    height: 9rem;
    padding: 0.5rem;
    width: 100%;
  }
  .actions {
    display: flex;
    gap: 0.5rem;
    .filterText {
      max-width: 200px;
    }
  }
  .tabsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0.7rem 0 0.5rem;
    margin: 1rem 0 0 0;

    .actions {
    }
    .clearLog {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      border-radius: 50%;
      padding: 0.2rem;
      min-width: 2rem;
      width: 2rem;
      height: 2rem;
      justify-content: center;
      &:hover {
        background-color: var(--grey);
      }
    }
  }
}
